.switch-box{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #409eff;
}
.switch-cilcle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}